<div class="categorias-container">
  <h2 class="titulo">Categorías actuales:</h2>

  <div class="categoria-lista">
    <div
      *ngFor="let categoria of categorias"
      class="categoria-item"
    >
      <span>{{ categoria }}</span>
      <button *ngIf="categoria !== 'Ver todos'" class="icono-editar" routerLink="/admin/modelos/editar-categoria">
        <svg xmlns="http://www.w3.org/2000/svg" class="icono" viewBox="0 0 24 24" fill="none" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15.232 5.232l3.536 3.536M9 13l6-6m2 2l-6 6m2-2l6-6M13 9l-6 6m6-6L7 15" />
        </svg>
      </button>
    </div>
  </div>

  <div class="boton-container">
    <button class="boton-anadir" routerLink="/admin/modelos/anadir-categoria">
      Añadir categoría
    </button>
  </div>
</div>
