<div class="categorias-container">
  <h2 class="titulo">Categorías actuales:</h2>

  <div class="categoria-lista">
    <div
      *ngFor="let categoria of categorias"
      class="categoria-item"
    >
      <span>{{ categoria }}</span>
      <button *ngIf="categoria !== 'Ver todos'" class="icono-editar" routerLink="/admin/modelos/editar-categoria">
        <img src="/edit.png" alt="editar" class="icono">
      </button>
    </div>
  </div>

  <div class="boton-container">
    <button class="boton-anadir" routerLink="/admin/modelos/anadir-categoria">
      Añadir categoría
    </button>
  </div>
</div>
