.form-container {
  font-family: "Libre Franklin", serif;
  width: 1000px;
}

.titulo {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 17px;
}

.input {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: none;
  background-color: #eeeeee;
  outline: none;
  max-width: 250px;
  margin-top: 0.25rem;
  font-weight: 300;
  font-family: "Libre Franklin", serif;
  font-size: 16px;
}

.modelos {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.boton-icono {
  background-color: #cfaea2;
  border: none;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.icono-mas {
  position: relative;
  top: 1px;
}

.lista-modelos {
  margin-bottom: 1rem;
  margin-top: -1rem;
  padding-left: 1.5rem;
  font-weight: 300;
  font-family: "Libre Franklin", serif;
  font-size: 16px;
}

.boton-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: right;
}

.boton-guardar {
  background-color: #d3a58f;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
  font-size: 1.2rem;
  margin-left: 15px;
}

.boton-guardar:hover {
  background-color: #b07a6a;
}

.btn-cancelar {
  background-color: #e0e0e0;
  color: #818181;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
  font-size: 1.2rem;
}

.btn-cancelar:hover {
  background-color: #c6c6c6;
  color: white;
}

.mensaje-error {
  color: #9b4b4b;
  margin-top: 1rem;
  font-size: 0.875rem;
}
