<div class="form-container">
  <h2 class="titulo">Añadir categoría:</h2>

  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input id="nombre" [(ngModel)]="nombreCategoria" placeholder="Inserte un nombre" class="input" />
  </div>

  <div class="form-group modelos">
    <label>Modelos seleccionados:</label>
    <button class="boton-icono" (click)="agregarModelo()">
      <span class="icono-mas">+</span>
    </button>
  </div>

  <ul class="lista-modelos" *ngIf="modelosSeleccionados.length > 0">
    <li *ngFor="let modelo of modelosSeleccionados">{{ modelo }}</li>
  </ul>

  <div class="boton-container">
    <button class="btn-cancelar" routerLink="/admin/modelos/categorias">Cancelar</button>
    <button class="boton-guardar" (click)="guardarCategoria()">Guardar</button>
  </div>

  <p class="mensaje-error" *ngIf="mensajeError">{{ mensajeError }}</p>
</div>
