<app-navbar></app-navbar>

<section class="cliente-final">
  <div class="confirmation-container">
    <h1>Su cita ha sido reservada con exito</h1>
    <p class="subtitle">Lo esperamos pronto en nuestro local</p>

    <p class="direccion">
      {{ direccion }} <span class="sep">-</span> {{ telefono }}
    </p>

    <div class="info-box">
      <p><strong>Cliente:</strong> {{ nombres }}</p>
      <p><strong>Fecha:</strong> {{ fecha }}  |  {{ hora }}</p>
    </div>

    <p class="correo-msg">Se han enviado los detalles a su correo</p>
    <a href="/cliente/modelo">
      <button class="navigate-button">Seguir navegando</button>
    </a>
  </div>
</section>
