.horario-container {
  font-family: "Libre Franklin", serif;
  color: #000000;
  width: 1000px;
  height: 700px;
  padding-top: 80px;
}

h2 {
  margin-bottom: 20px;
  font-weight: 300;
}

.horario-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 días */
  gap: 10px;
  text-align: center;
}

.dia-header {
  background-color: #e4d4cc;
  padding: 10px 0;
  font-weight: 300;
  font-size: 1.3rem;
  border-radius: 12px;
}

.hora-input input {
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #f1e7e4;
  border-radius: 12px;
  text-align: center;
  color: #000000;
  font-family: "Jura", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 8px;
}

.hora-input input:read-only {
  cursor: default;
}

.boton-editar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.boton-editar button {
  background-color: #b07a6a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: "Lexend Deca", serif;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 20px;
  cursor: pointer;
}

.boton-editar button:hover {
  background-color: #8f5d50;
}
