.contenedor {
  padding: 2rem;
  font-family: "Libre Franklin", serif;
  font-weight: 300;
  width: 1000px;
}


.back-link a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1.2rem;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-weight: 500;
}

h2{
  font-weight: 300;
}

.detalle {
  max-width: 100%;
  margin-bottom: 2rem;
}

.cita {
  margin-bottom: 1.5rem;
}

.imagenes-cita {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.miniatura {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: transform 0.2s;
}

.miniatura:hover {
  transform: scale(1.05);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.imagen-grande {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
  