.contenedor {
  padding: 2rem;
  font-family: "Libre Franklin", serif;
  font-weight: 300;
  width: 1000px;
}


.back-link a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1.2rem;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-weight: 500;
}

h2{
  font-weight: 300;
}

.detalle {
  max-width: 100%;
  margin-bottom: 2rem;
}

.cita {
  margin-bottom: 1.5rem;
}
