<div class="contenedor">
  <h2>Detalle del pedido:</h2>

  <div class="encabezado">
    <strong>Nombre Del Cliente</strong>
    <span>00/11/2222</span>
  </div>

  <p class="detalle">
    Mayor detalle del pedido del cliente, incluye el modelo a confeccionar, la tela usada, la fecha de entrega establecida y las correcciones de las pruebas hechas en posteriores citas.
  </p>

  <div class="cita">
    <strong>Cita 1:</strong>
    <pre>---------------------------------------------------------------------------------------</pre>
    <pre>---------------------------------------------------------------------------------------</pre>
    <pre>-----------------------------------------------</pre>
  </div>

  <div class="cita">
    <strong>Cita 2:</strong>
    <pre>---------------------------------------------------------------------------------------</pre>
    <pre>---------------------------------------------------------------------------------------</pre>
    <pre>-----------------------------------------------</pre>
  </div>
</div>
