.contenedor {
  padding: 2rem;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.detalle {
  max-width: 800px;
  margin-bottom: 2rem;
}

.cita {
  margin-bottom: 1.5rem;
}
