<div class="contenedor">
  <div class="back-link">
    <a routerLink="/admin/pedidos/listado-pedidos">
      <img src="/back.png" alt="Volver" style="width: 15px; height: 15px;"> Volver
    </a>
  </div>

  <h2>Detalle del pedido:</h2>

  <div class="encabezado">
    <p>ID Pedido: {{ pedido.idPedido }}</p>
    <p>{{ pedido.fechaEntrega | date: 'dd/MM/yyyy' }}</p>
  </div>

  <p class="detalle">
    {{ pedido.detalle }}
  </p>

  <div class="cita">
    <p>Citas (muestra estática de prueba):</p>
    <pre>---------------------------------------------------------------------------------------</pre>
    <pre>---------------------------------------------------------------------------------------</pre>
    <pre>-----------------------------------------------</pre>
  </div>
</div>
