
<app-navbar></app-navbar>
<section class="nosotros-container">
  <div class="encabezado">
    <h2>Sobre Nosotros</h2>
    <p>
      Nos dedicamos a la confección de prendas que combinan elegancia, calidad y atención al detalle. Trabajamos con compromiso y pasión por la sastrería, ofreciendo soluciones que se adaptan al estilo y necesidades de nuestros clientes. Nuestra identidad se basa en la mejora continua y en brindar siempre un producto que inspire confianza y distinción.
    </p>
  </div>

  <div class="bloque bloque-mision">
    <img src="../mision.PNG" alt="Nuestra Misión" />
    <div class="texto">
      <h3>Nuestra Misión</h3>
      <p>
        En la empresa Estilo creamos prendas de vestir de alta calidad para hombres y mujeres que buscan comodidad, estilo y elegancia en una misma prenda. Nos esforzamos por tener los mejores acabados y la más alta calidad, garantizando así la durabilidad de nuestro producto y la satisfacción del cliente. Combinando estilo y durabilidad, estamos comprometidos con la innovación y la mejora continua para ofrecer siempre lo mejor a nuestros clientes.
      </p>
    </div>
  </div>

  <div class="bloque bloque-vision">
    <div class="texto">
      <h3>Nuestra Visión</h3>
      <p>
        En la empresa “Estilo” buscamos convertirnos en los líderes en la confección y venta de prendas formales a medida y posiblemente otros productos relacionados a este estilo, promoviendo avances técnicos para satisfacer las necesidades locales, así como expandirnos a nuevos mercados, convirtiéndonos en una empresa reconocida a nivel nacional.
      </p>
    </div>
    <img src="../vision.jpg" alt="Nuestra Visión" />
  </div>
</section>

