
<app-navbar></app-navbar>
<section class="nosotros-container">
  <div class="encabezado">
    <h2>Sobre Nosotros</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ante lectus,
      commodo eu orci non, auctor sollicitudin erat. Vivamus porta interdum augue,
      in porttitor metus scelerisque ac. In at pharetra est.
    </p>
  </div>

  <div class="bloque bloque-mision">
    <img src="../mision.PNG" alt="Nuestra Misión" />
    <div class="texto">
      <h3>Nuestra Misión</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ante lectus,
        commodo eu orci non, auctor sollicitudin erat. Vivamus porta interdum augue,
        in porttitor metus scelerisque ac. In at pharetra est.
      </p>
    </div>
  </div>

  <div class="bloque bloque-vision">
    <div class="texto">
      <h3>Nuestra Visión</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ante lectus,
        commodo eu orci non, auctor sollicitudin erat. Vivamus porta interdum augue,
        in porttitor metus scelerisque ac. In at pharetra est.
      </p>
    </div>
    <img src="../vision.jpg" alt="Nuestra Visión" />
  </div>
</section>

