
.contenedor {
  font-family: "Libre Franklin", serfi;
  width: 1000px;
  height: 800px;
}

.contenedor h2{
  font-weight: 300;
}
.tarjeta {
  background: #f0e7e5;
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.derecha {
  flex-direction: row ;
  text-align: right;
}

p{
  font-weight: 500;
}

.descripcion{
  font-weight: 300;
}

.derecha button {
  background-color: #d1b1a9;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 500;
  font-family: "Lexend Deca", serif;
}


.paginacion {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.paginacion button {
  border: none;
  background-color: #f1e7e4;
  color: #333;
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
}

.paginacion button:hover {
  background-color: #d3a58f;
  color: white;
}

.paginacion button.activa {
  background-color: #b07a6a;
  color: white;
  font-weight: 500;
}

.paginacion button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
