<section>
  <div class="contenedor">
    <h2>Lista de pedidos:</h2>

    <div class="tarjeta" *ngFor="let pedido of pedidosAmpliados">
      <div class="contenido">
        <div>
          <div class="cliente-nombre">{{ pedido.nombreCliente }}</div>
          <div class="detalle-preview">{{ pedido.detalle }}</div>
        </div>
        <div class="derecha">
          <div class="fecha">{{ pedido.fechaCita || '--/--/----' }}</div>
          <button (click)="verDetalle(pedido.idPedido)">Ver Detalle</button>
        </div>
      </div>
    </div>
  </div>
</section>