<nav class="navbar">
  <div class="logo">
    <a routerLink="/inicio">
      <img src="../logo.PNG" alt="logo" />
    </a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/cliente/contacto" routerLinkActive="active">CONTACTO</a></li>
    <li><a routerLink="/cliente/modelo" routerLinkActive="active">MODELOS</a></li>
    <li><a routerLink="/cliente/servicios" routerLinkActive="active">SERVICIOS</a></li>
    <li><a routerLink="/cliente/nosotros" routerLinkActive="active">NOSOTROS</a></li>
  </ul>
</nav>
