
<app-navbar></app-navbar>
<section class="servicios-container">
  <div class="encabezado">
    <h2>Nuestros Servicios</h2>
    <p>
      En Estilo ofrecemos soluciones integrales en sastrería, enfocadas en la calidad, precisión y buen acabado. Brindamos servicios de confección a medida, arreglos de prendas y confección al por mayor, adaptándonos a las necesidades de cada cliente. Nuestro compromiso es garantizar resultados que reflejen elegancia, durabilidad y atención al detalle en cada trabajo que realizamos.
    </p>
  </div>

  <div class="servicios-cards">
    <div class="card">
      <img src="../confeccion.png" alt="Confección" />
      <h3>Confección</h3>
      <p>Diseñamos y confeccionamos prendas a medida, cuidando cada detalle para lograr elegancia, comodidad y un acabado de alta calidad.</p>
      <a (click)="scrollTo('confeccion')">Haga click para saber más</a>
    </div>

    <div class="card">
      <img src="../arreglos.png" alt="Arreglos" />
      <h3>Arreglos</h3>
      <p>Realizamos ajustes y modificaciones precisas para que cada prenda se adapte perfectamente a tu medida y estilo.</p>
      <a (click)="scrollTo('arreglos')">Haga click para saber más</a>
    </div>

    <div class="card">
      <img src="../por-mayor.png" alt="Por mayor" />
      <h3>Por mayor</h3>
      <p>Ofrecemos confección en volumen con altos estándares de calidad, ideal para empresas o proyectos que requieren uniformidad y buen acabado.</p>
      <a (click)="scrollTo('por-mayor')">Haga click para saber más</a>
    </div>
  </div>

  <div class="detalle">
    <div class="detalle-item" id="confeccion">
      <h3>Confección</h3>
      <p>
        Creamos prendas a medida que combinan diseño, elegancia y comodidad, adaptadas a tu estilo y necesidades. Trabajamos con materiales de calidad y acabados cuidadosos para ofrecer resultados que reflejen distinción y buen gusto en cada detalle.
      </p>
      <button class="btn-primario" routerLink="/modelo">Ver catálogo</button>
    </div>

    <div class="detalle-item" id="arreglos">
      <h3>Arreglos</h3>
      <p>
        Ofrecemos servicios de ajustes, modificaciones y reparaciones para mejorar el calce y la apariencia de tus prendas. Nuestro objetivo es prolongar su vida útil, asegurando comodidad, precisión y un acabado profesional.
      </p>
      <button class="btn-primario" routerLink="/contacto">Contactar</button>
    </div>

    <div class="detalle-item" id="por-mayor" >
      <h3>Confección al por mayor</h3>
      <p>
        Brindamos soluciones de confección en volumen para empresas, instituciones y proyectos especiales. Garantizamos uniformidad, calidad y cumplimiento en cada pedido, adaptándonos a los requerimientos y tiempos de nuestros clientes.
      </p>
      <button class="btn-primario" routerLink="/contacto">Contactar</button>
    </div>
  </div>
</section>
