  section {
    padding-top: 80px;
    margin-top: 45px;
    padding: 40px 20px;
    font-family: 'Georgia', serif;
    color: #222;
  }

  nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  #product-detail {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .back-link {
    margin-bottom: 20px;
    margin-top: 19px;
    margin-left: 4rem;
  }

  .back-link a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
  }

  .product-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
  }

  .product-image {
    flex: 1;
    max-width: 500px;
  }

  .product-image img {
    width: 100%;
    max-height: 600px;
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
  }

  .thumbnail-container {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .thumbnail-container img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .thumbnail-container img:hover {
    transform: scale(1.05);
  }

  .product-info {
    
    flex: 1;
    max-width: 600px;
  }

  .product-info h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Lora", serif;
    font-weight: 400;
  }

  .product-info p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    margin: 10px 0;
  }
  .descripcion-texto {
    white-space: pre-line;
  }


  .product-info ul {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
    list-style: disc;
    margin: 10px 0 20px 20px;
    padding: 0;
  }

  .buy-button {
    background-color: #2f3460;
    color: white;
    font-size: 18px;
    font-family: "Lora", serif;
    font-weight: 400;
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .buy-button:hover {
    background-color: #1e223f;
  }