<app-navbar></app-navbar>

<section>
    <div class="contact-container">
        <header class="contact-header">
            <img src="/fondo.PNG" alt="fondo">
        </header>

        <div class="formulario">
            <form class="contact-form">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Tu nombre" />

                <label for="phone">Número de teléfono:</label>
                <input type="tel" id="phone" name="phone" placeholder="Tu número de teléfono" />

                <label for="reason">Motivo:</label>
                <textarea id="reason" name="reason" placeholder="Escribe tu motivo aquí"></textarea>

                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>

<app-chatbot></app-chatbot>