<app-navbar></app-navbar>

<section class="contacto-container">
  <div class="encabezado">
    <h2>Contacta con Nosotros</h2>
    <p>
      Si tienes consultas, deseas agendar una cita o necesitas asesoría personalizada, no dudes en ponerte en contacto con nosotros. Nuestro equipo estará encantado de atenderte y brindarte una experiencia cercana y profesional. Escríbenos o visítanos y deja tu estilo en manos de expertos.
    </p>
  </div>

  <div class="contenido-contacto">
    <!-- Formulario -->
    <div class="formulario">
      <h3>Deje un mensaje</h3>
      <form>
        <input type="text" placeholder="Nombre completo" />
        <input type="email" placeholder="Correo electrónico" />
        <div class="fila">
          <input type="tel" placeholder="Número de teléfono" />
          <select>
            <option value="">Motivo</option>
            <option value="confeccion">Confección</option>
            <option value="arreglos">Arreglos</option>
            <option value="mayor">Por mayor</option>
            <option value="otros">Otros</option>
          </select>
        </div>
        <textarea rows="5" placeholder="Escriba su mensaje aquí"></textarea>
        <button type="submit" class="btn-primario">Enviar</button>
      </form>
    </div>

    <!-- Información -->
    <div class="info" *ngIf="contacto">
      <div>
        <h3>Información de contacto</h3>
        <p>{{ contacto.direccion }}</p>
        <p>{{ contacto.telefono }}</p>
        <p>estilosastreria&#64;gmail.com</p>
      </div>

      <div class="horario">
        <h3>Horario de atención</h3>
        <p>Lunes a Sabados: 8am – 8pm</p>
      </div>
    </div>
  </div>

  <!-- Mapa -->
  <div class="mapa">
    <h3>Visítanos</h3>
    <div class="map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!3m2!1ses-419!2spe!4v1761870190026!5m2!1ses-419!2spe!6m8!1m7!1swy32TbNDuYHRax7R2AnP6g!2m2!1d-12.07255613194695!2d-75.19916346364639!3f242.7109734749278!4f7.67800083970333!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
    width="65%"
    height="400"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
  </div>
</section>

<app-chatbot></app-chatbot>