.form-container {
  font-family: "Libre Franklin", serif;
  width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}

.btn-eliminar {
  background-color: #e2d1cc;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #624a4a;
  font-size: 17px;
  font-weight: 500;
  font-family: "Lexend Deca", serif;
}

.form-group {
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: 300;
}

.input {
  margin: 0.25rem;
  padding: 0.5rem 0.7rem;
  border-radius: 9999px;
  background-color: #e0e0e0;
  border: none;
  outline: none;
  max-width: 250px;
  font-weight: 300;
  font-family: "Libre Franklin", serif;
  font-size: 16px;
}

.modelos-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.modelo {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-modelo {
  width: 100%;
  height: 100%;
  background-image: url('https://via.placeholder.com/70x70');
  background-size: cover;
  background-position: center;
}

.icono-eliminar {
  position: absolute;
  top: -8px;
  left: -8px;
  background-color: #9b4b4b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-agregar {
  background-color: #cfaea2;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.boton-container {
  display: flex;
  margin-top: 2rem;
  justify-content: right;
}

.btn-guardar {
  background-color: #d3a58f;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
  font-size: 1.2rem;
  margin-left: 15px;
}

.btn-guardar:hover {
  background-color: #b07a6a;
}

.btn-cancelar {
  background-color: #e0e0e0;
  color: #818181;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
  font-size: 1.2rem;
}

.btn-cancelar:hover {
  background-color: #c6c6c6;
  color: white;
}