.form-container {
  font-family: "Libre Franklin", serif;
  width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}

.btn-eliminar {
  background-color: #e2d1cc;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #624a4a;
  font-size: 17px;
  font-weight: 500;
  font-family: "Lexend Deca", serif;
}

.form-group {
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: 300;
}

.input {
  margin: 0.25rem;
  padding: 0.5rem 0.7rem;
  border-radius: 9999px;
  background-color: #e0e0e0;
  border: none;
  outline: none;
  max-width: 250px;
  font-weight: 300;
  font-family: "Libre Franklin", serif;
  font-size: 16px;
}

.modelos-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.modelo {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-modelo {
  width: 100%;
  height: 100%;
  background-image: url('https://via.placeholder.com/70x70');
  background-size: cover;
  background-position: center;
}

.icono-eliminar{
  top: -10px;
  left: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
}

.img-eliminar{
  width: 20px;
  height: 20px;
  top: -2px;
  left: -2px;
  position: absolute;
}

.btn-agregar {
  border: none;
  background-color: #cfaea2;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.img-add{
  
  width: 32px;
  height: 32px;
  position: relative;
  left: -6px;
  top: -1px;
}

.boton-container {
  display: flex;
  margin-top: 2rem;
  justify-content: right;
}

.btn-guardar {
  background-color: #d3a58f;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
  font-size: 1.2rem;
  margin-left: 15px;
}

.btn-guardar:hover {
  background-color: #b07a6a;
}

.btn-cancelar {
  background-color: #e0e0e0;
  color: #818181;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
  font-size: 1.2rem;
}

.btn-cancelar:hover {
  background-color: #c6c6c6;
  color: white;
}

.mensaje-exito {
  color: green;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Lexend Deca", serif;
  background-color: #e7f9e7;
  border: 1px solid #a5d6a7;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  max-width: 400px;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}
