
<app-navbar></app-navbar>
<section class="modelos">

  <h2>LOS MÁS POPULARES</h2>
  <div class="carousel">
    <div class="arrow-left">
      <img src="/arrow-left.png" alt="logo" style="height: 30px; width: 30px;"/>
    </div>
    <div class="image-placeholder" *ngFor="let product of products">
      <a [routerLink]="['/detalle', product.id]">
        <img [src]="product.image" [alt]="product.title" />
      </a>
    </div>
    <div class="arrow-right">
      <img src="/arrow-right (1).png" alt="logo" style="height: 30px; width: 30px;"/>
    </div>
  </div>

  <h2>PARA ELLA</h2>
  <div class="carousel">
    <div class="arrow-left">
      <img src="/arrow-left.png" alt="logo" style="height: 30px; width: 30px;"/>
    </div>
    <div class="image-placeholder" *ngFor="let product of products">
      <a [routerLink]="['/detalle', product.id]">
        <img [src]="product.image" [alt]="product.title" />
      </a>
    </div>
    <div class="arrow-right">
      <img src="/arrow-right (1).png" alt="logo" style="height: 30px; width: 30px;"/>
    </div>
  </div>

  <h2>PARA ÉL</h2>
  <div class="carousel">
    <div class="arrow-left">
      <img src="/arrow-left.png" alt="logo" style="height: 30px; width: 30px;"/>
    </div>
    <div class="image-placeholder"></div>
    <div class="image-placeholder"></div>
    <div class="image-placeholder"></div>
    <div class="image-placeholder"></div>
    <div class="image-placeholder"></div>
    <div class="arrow-right">
      <img src="/arrow-right (1).png" alt="logo" style="height: 30px; width: 30px;"/>
    </div>
  </div>
</section>

<app-chatbot></app-chatbot>