
section {
  padding-top: 80px; /* Ajusta esto según la altura de tu navbar */
}

/* General Styles */
.header {
  text-align: center;
  background: white;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
  
.header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
  
  .header h1 {
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: 2px;
  }
  
  .header h2 {
    font-size: 1rem;
    margin: 0;
    letter-spacing: 3px;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-left: 6.5rem;
    text-align: left;
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 300;
    text-decoration: underline;
  }
  
  /* Carousel */
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    margin-bottom: 40px;
  }

.carousel-inner {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 10px 0;
  max-width: 80%;
}
  
.image-placeholder {
  min-width: 150px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: inline-block;
}

img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  padding: 10px;
  user-select: none;
  display: flex;
  align-items: center;
}