<div class="anadir-modelo-container">
  <h2>Añadir modelo:</h2>

  <div class="formulario">
    <div class="columna">
      <label>Nombre:</label>
      <input type="text" placeholder="Inserte un nombre" />

      <label>Descripción:</label>
      <textarea placeholder="Inserte una breve descripcion"></textarea>

      <label>Categoría:</label>
      <select>
        <option>Elija una categoría</option>
      </select>

      <label>Categoría 2:</label>
      <select>
        <option>Elija una categoría</option>
      </select>
    </div>

    <div class="imagenes">
      <label>Imágenes:</label>
      <div class="imagen-placeholder">
        <img src="assets/icono-imagen-placeholder.svg" alt="placeholder" />
      </div>
      <p class="info">Añada de 1 a 4 imágenes, arrastre o haga click para agregar una</p>
    </div>
  </div>

  <div class="boton-container">
    <button class="btn-cancelar" routerLink="/admin/modelos/ver-modelo">Cancelar</button>
    <button class="btn-guardar">Guardar</button>
  </div>
</div>
