<div class="anadir-modelo-container">
  <h2>Añadir modelo:</h2>

  <form #formModelo="ngForm" (ngSubmit)="guardarModelo()" novalidate>
    <div class="formulario">
      <div class="columna">
        <label>Nombre:</label>
        <input
          type="text"
          name="nombre"
          [(ngModel)]="nombre"
          required
          minlength="3"
          #nombreRef="ngModel"
          placeholder="Inserte un nombre"
          (input)="onCambios()" />
        <div class="error" *ngIf="nombreRef.invalid && nombreRef.touched">
          <small *ngIf="nombreRef.errors?.['required']">El nombre es obligatorio.</small>
          <small *ngIf="nombreRef.errors?.['minlength']">Mínimo 3 caracteres.</small>
        </div>

        <label>Descripción:</label>
        <textarea
          name="descripcion"
          [(ngModel)]="descripcion"
          required
          minlength="10"
          #descripcionRef="ngModel"
          placeholder="Inserte una breve descripcion"
          (input)="onCambios()"></textarea>
        <div class="error" *ngIf="descripcionRef.invalid && descripcionRef.touched">
          <small *ngIf="descripcionRef.errors?.['required']">La descripción es obligatoria.</small>
          <small *ngIf="descripcionRef.errors?.['minlength']">Debe tener al menos 10 caracteres.</small>
        </div>

        <label>Categoría:</label>
        <select name="categoriaId" [(ngModel)]="categoriaId" #categoriaIdRef="ngModel">
          <option value="" disabled selected>Elija una categoría</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
            {{ categoria.nombre }}
          </option>
        </select>
      </div>

      <div class="imagenes">
        <label>Imágenes:</label>
        <div
          class="imagen-placeholder"
          [class.drag-over]="dragging"
          (click)="clickEnContenedor($event)"
          (dragover)="evitarComportamientoPorDefecto($event)"
          (dragleave)="evitarComportamientoPorDefecto($event)"
          (drop)="manejarDrop($event)"
        >
          <ng-container *ngIf="imagenesPreview.length === 0">
            <img src="assets/icono-imagen-placeholder.svg" alt="placeholder" />
          </ng-container>
          <ng-container *ngFor="let img of imagenesPreview; let i = index">
            <div class="img-contenedor">
              <img [src]="img" alt="Vista previa" (click)="ampliarImagen(img)"/>
              <span class="eliminar" (click)="eliminarImagen(i)">X</span>
            </div>
          </ng-container>
        </div>
        <input type="file" #inputImagenes multiple accept="image/*" hidden (change)="cargarImagenes($event)" />
        <p class="info">Añada de 1 a 4 imágenes, arrastre o haga click para agregar una</p>
        <p class="error" *ngIf="errorImagen">Solo se permiten hasta 4 imágenes.</p>
        <p class="error" *ngIf="intentoGuardar && imagenesPreview.length === 0">Debe añadir al menos una imagen.</p>
        <p class="mensaje-error" *ngIf="mensajeError">{{ mensajeError }}</p>
      </div>
    </div>

    <div class="boton-fila">
      <div class="boton-container">
        <button type="button" class="btn-cancelar" (click)="cancelar()" [disabled]="loader.isLoading()">Cancelar</button>
        <button class="btn-guardar" type="submit" [disabled]="formModelo.invalid || loader.isLoading()">Guardar</button>
      </div>
    </div>
  </form>

  <p class="mensaje-exito" *ngIf="mensajeExito">Modelo guardado correctamente.</p>

  <div class="fondo-ampliado" *ngIf="imagenAmpliada" (click)="cerrarAmpliacion()">
    <img [src]="imagenAmpliada" alt="Vista ampliada" />
  </div>
</div>

<app-confirmacion-salida *ngIf="mostrarModal"
  (confirmar)="confirmarSalida()"
  (cancelar)="cerrarModal()">
</app-confirmacion-salida>
