.horario-container {
  font-family: "Libre Franklin", sans-serif;
  color: #000000;
  width: 1000px;
  height: 700px;
}

h2 {
  margin-bottom: 20px;
  font-weight: 300;
}

.horario-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 días */
  gap: 10px;
  text-align: center;
}

.dia-header {
  background-color: #e4d4cc;
  padding: 10px 0;
  font-weight: 300;
  font-size: 1.3rem;
  border-radius: 12px;
}

.hora-input input {
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #f1e7e4;
  border-radius: 12px;
  text-align: center;
  color: #000000;
  font-family: "Jura", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 8px;
}

.boton-container {
  display: flex;
  margin-top: 2rem;
  justify-content: right;
}

.btn-guardar {
  background-color: #d3a58f;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
  font-size: 1.2rem;
  margin-left: 15px;
}

.btn-guardar:hover {
  background-color: #b07a6a;
}

.btn-cancelar {
  background-color: #e0e0e0;
  color: #818181;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", serif;
  font-size: 1.2rem;
}

.btn-cancelar:hover {
  background-color: #c6c6c6;
  color: white;
}

.mensaje-exito {
  color: green;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Lexend Deca", serif;
  background-color: #e7f9e7;
  border: 1px solid #a5d6a7;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  max-width: 400px;
}
