<app-navbaradmin></app-navbaradmin>

<section>
  <div class="admin-general-container">
    <div class="sidebar">
      <ul>
        <li>
          <a routerLink="perfil" routerLinkActive="active-link">PERFIL</a>
        </li>
        <li>
          <a routerLink="panel-de-control" routerLinkActive="active-link">
            PANEL DE CONTROL
          </a>
        </li>
      </ul>
      <button class="logout-button" (click)="logout()">CERRAR SESIÓN</button>
    </div>

    <main>
      <h1>Panel de control:</h1>
      <div class="charts">
        <div class="chart">
          <h2>Company Facts</h2>
          <img src="assets/chart1.PNG" alt="Gráfico de empleados por ciudad" class="chart-image" />
        </div>
        <div class="chart">
          <h2>Statistics</h2>
          <img src="assets/chart2.PNG" alt="Gráfico de estadísticas de empresas" class="chart-image" />
        </div>
      </div>
    </main>
  </div>
</section>