<app-navbaradmin></app-navbaradmin>

<section>
  <div class="admin-general-container">
    <div class="sidebar">
      <ul>
        <li>
          <img class="vineta" src="/flechaadmin.png" alt="vineta">
          <a routerLink="perfil" routerLinkActive="active-link"> PERFIL</a>
        </li>
        <li>
          <img class="vineta" src="/flechaadmin.png" alt="vineta">
          <a routerLink="panel-de-control" routerLinkActive="active-link"> PANEL DE CONTROL</a>
        </li>
      </ul>
      <button class="logout-button" (click)="onLogout()">CERRAR SESIÓN</button>
    </div>

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</section>
