<nav class="navbar">
  <div class="logo">
    <a routerLink="/inicio"><img src="/logo.svg" alt="logo" /></a>
  </div>
  <ul class="nav-links">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <a routerLink="/admin/general">GENERAL</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <a routerLink="/admin/pedidos">PEDIDOS</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <a routerLink="/admin/modelos">MODELOS</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <a routerLink="/admin/horario">HORARIO</a>
    </li>
  </ul>
</nav>
