
.welcome {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: gray;
  margin-top: 50%;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-family: "Libre Franklin", serif;
  font-weight: 500;
}

.line {
  font-size: 1.23rem;
  margin: 0;
  padding: 0;
}

.text2 {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Libre Franklin", serif;
  font-weight: 300;
}
