
<header>
    <nav>
        <ul>
            <li><a href="contacto">CONTACTO</a></li>
            <li><a href="modelo">MODELOS</a></li>
        </ul>
        <a href="login">
            <h1>ESTILO</h1>
        </a>
        <ul>
            <li><a href="servicios">SERVICIOS</a></li>
            <li><a href="nosotros">NOSOTROS</a></li>
        </ul>
    </nav>

    <h2>SASTRERÍA</h2>
</header>

<main>
    <section class="hero">
        <img src="/index1.PNG" alt="Sastrería">
        <div class="overlay">
            <h3>Elegancia y moda a su medida</h3>
            <p>SASTRERÍA EN HUANCAYO</p>
            <div class="arrow"></div>
        </div>
    </section>
</main>
<app-chatbot></app-chatbot>