
<header>
    <nav>
        <ul>
            <li><a href="/cliente/contacto">CONTACTO</a></li>
            <li><a href="/cliente/modelo">   MODELOS</a></li>
        </ul>

            <h1>  ESTILO</h1>

        <ul>
            <li><a href="/cliente/servicios">SERVICIOS</a></li>
            <li><a href="/cliente/nosotros">NOSOTROS</a></li>
        </ul>
    </nav>
    <h2>SASTRERIA</h2>
</header>

<!-- HERO / BANNER -->
<section class="hero">
    <div class="hero-overlay">
        <h1>Elegancia y moda a su medida</h1>
        <p>SASTRERIA EN HUANCAYO</p>
    </div>
</section>

<!-- NUEVO EN NUESTRO CATÁLOGO -->
<section class="catalogo">
  <h2>Nuevo en nuestro catálogo</h2>

    <div class="carousel">
        <button class="nav left">‹</button>

        <div class="items">
            <a
                class="item"
                *ngFor="let modelo of modelos"
                [routerLink]="['/cliente/detalle', modelo.idModelo]"
            >
                <img
                    *ngIf="modelo.imagenes?.length"
                    [src]="modelo.imagenes[0]"
                    alt="{{ modelo.nombre }}"
                />
            </a>
        </div>

        <button class="nav right">›</button>
    </div>
    

  <button class="btn-primary" routerLink="/cliente/modelo">Explorar más</button>
</section>

<!-- QUIÉNES SOMOS -->
<section class="info">
  <div class="text">
    <h3>¿Quiénes somos?</h3>
    <p>
      En <b>Sastrería Estilo</b> nos dedicamos a realzar tu imagen con prendas hechas a medida y atención personalizada. Combinamos la tradición de la costura artesanal con diseños modernos y acabados de alta calidad. Cada prenda refleja dedicación, detalle y buen gusto. Creemos que vestir bien es una forma de expresar quién eres. Tu estilo es nuestra prioridad.
    </p>
  </div>

  <button class="btn-secondary" routerLink="/cliente/nosotros">Saber más</button>
</section>

<!-- CONTACTO -->
<section class="info">
  <div class="text">
    <h3>Contacte con nosotros</h3>
    <p>
      Estamos listos para atenderte y asesorarte en cada detalle de tu prenda ideal. Contáctanos para realizar consultas, agendar una cita o recibir asesoría personalizada. Nuestro equipo estará encantado de ayudarte a encontrar el diseño que mejor se adapte a ti. Visítanos o escríbenos y da el primer paso hacia un estilo único. Estamos aquí para ti.
    </p>
  </div>

  <button class="btn-secondary" routerLink="/cliente/contacto">Saber más</button>
</section>

<!-- FOOTER -->
<footer>
  <div class="footer-links">
    <div>
      <strong>¿Problemas con la web?</strong>
      <p>pansiedopan&#64;gmail.com</p>
    </div>

    <div>
      <strong>¿Es usted administrador?</strong>
      <a href="login">
        <p>Inicie sesión aquí</p>
      </a>
    </div>
  </div>

  <p class="copyright">
    Copyright © 2025 Sastrería Estilo. All Rights Reserved.
  </p>
</footer>

<app-chatbot></app-chatbot>