<section class="login-container">
  <div class="login-card">
  <img src="/logo.PNG" alt="Estilo Sastrería Logo" class="logo" />

  <h2>Inicie sesión como administrador</h2>

  <form class="login-form" (ngSubmit)="onLogin()">
    <label for="email">Correo electrónico:</label>
    <input
      id="email"
      type="email"
      name="email"
      [(ngModel)]="correo"
      required
    />

    <label for="password">Contraseña:</label>
    <div class="password-field">
    <input
      id="contrasenia"
      [type]="showPassword ? 'text' : 'password'"
      name="contrasenia"
      [(ngModel)]="contrasenia"
      required
    />

    <img
      class="toggle-eye"
      [src]="showPassword ? 'visibilidad.png' : '/ojo.png'"
      alt="Mostrar contraseña"
      (click)="togglePassword()"
    />
    </div>

    <button type="submit" class="login-btn" [disabled]="loading">
      <ng-container *ngIf="!loading; else loadingTpl">
        Iniciar sesión
      </ng-container>

      <ng-template #loadingTpl>
        <span class="spinner"></span>
        Cargando...
      </ng-template>
    </button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <a routerLink="/" class="back-link">&lt; Volver</a>
  </div>
</section>
