/* Contenedor general centrado */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  font-family: "Libre Franflin", sans-serif;
  text-align: center;
}

/* Logo */
.logo {
  width: 180px;
  margin-bottom: 10px;
}

/* Título */
h2 {
  font-weight: 400;
  color: #333;
  margin-bottom: 25px;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

label {
  font-size: 14px;
  color: #333;
  margin: 6px 0 4px;
}

input {
  width: 300px;
  padding: 10px 15px;
  border: none;
  background-color: #E2D1CC;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  color: #333;
  margin-bottom: 12px;
}

/* Botón */
.login-btn {
  background-color: #b38b7a;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 10rem;
  
}

.login-btn:hover {
  background-color: #9e7766;
}

/* Enlace Volver */
.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #333;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.back-link:hover {
  color: #9e7766;
}

/* Mensaje de error */
.error-message {
  color: red;
  font-size: 13px;
  margin-top: 10px;
}
